<?xml version="1.0" encoding="ASCII"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>OHR</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>driverClass</param-name>
    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:oracle:thin:@sdc:1521:oracle11</param-value>
  </context-param>
  <context-param>
    <param-name>userName</param-name>
    <param-value>user47</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>shriganesh1</param-value>
  </context-param>
  <listener>
    <listener-class>fi.ohr.Globalconn</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>AuthenticateUser</display-name>
    <servlet-name>AuthenticateUser</servlet-name>
    <servlet-class>fi.ohr.AuthenticateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticateUser</servlet-name>
    <url-pattern>/AuthenticateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChkAvail</display-name>
    <servlet-name>ChkAvail</servlet-name>
    <servlet-class>fi.ohr.ChkAvail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChkAvail</servlet-name>
    <url-pattern>/ChkAvail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Globalconn</display-name>
    <servlet-name>Globalconn</servlet-name>
    <servlet-class>fi.ohr.Globalconn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Globalconn</servlet-name>
    <url-pattern>/Globalconn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Check</display-name>
    <servlet-name>Check</servlet-name>
    <servlet-class>fi.ohr.Check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check</servlet-name>
    <url-pattern>/Check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>fi.ohr.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckService</display-name>
    <servlet-name>CheckService</servlet-name>
    <servlet-class>fi.ohr.CheckService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckService</servlet-name>
    <url-pattern>/CheckService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>roomModify</display-name>
    <servlet-name>roomModify</servlet-name>
    <servlet-class>fi.ohr.roomModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>roomModify</servlet-name>
    <url-pattern>/roomModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>serviceModify</display-name>
    <servlet-name>serviceModify</servlet-name>
    <servlet-class>fi.ohr.serviceModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceModify</servlet-name>
    <url-pattern>/serviceModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignOut</display-name>
    <servlet-name>SignOut</servlet-name>
    <servlet-class>fi.ohr.SignOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOut</servlet-name>
    <url-pattern>/SignOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RMIClient</display-name>
    <servlet-name>RMIClient</servlet-name>
    <servlet-class>fi.ohr.RMIClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RMIClient</servlet-name>
    <url-pattern>/RMIClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelBooking</display-name>
    <servlet-name>CancelBooking</servlet-name>
    <servlet-class>fi.ohr.CancelBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelBooking</servlet-name>
    <url-pattern>/CancelBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>feedback</display-name>
    <servlet-name>feedback</servlet-name>
    <servlet-class>fi.ohr.feedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>feedback</servlet-name>
    <url-pattern>/feedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>prav</display-name>
    <servlet-name>prav</servlet-name>
    <servlet-class>fi.ohr.prav</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prav</servlet-name>
    <url-pattern>/prav</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cancellation</display-name>
    <servlet-name>Cancellation</servlet-name>
    <servlet-class>fi.ohr.Cancellation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cancellation</servlet-name>
    <url-pattern>/Cancellation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pku</display-name>
    <servlet-name>pku</servlet-name>
    <servlet-class>fi.ohr.pku</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pku</servlet-name>
    <url-pattern>/pku</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>kk</display-name>
    <servlet-name>kk</servlet-name>
    <servlet-class>fi.ohr.kk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kk</servlet-name>
    <url-pattern>/kk</url-pattern>
  </servlet-mapping>
</web-app>